.projectsTopSection.right .keypoints {
  order: 1;
}
.projectsTopSection.right .techLogos {
  order: 3;
}
.projectsTopSection.left .keypoints {
  order: 3;
}
.projectsTopSection.left .techLogos {
  order: 1;
}

.techLogos {
  max-width: 400px;
}

.techLogos li {
  flex: 1 1 100px;
}

@media (max-width: 639px) {
  .techLogos li {
    flex: 1 1 60px;
  }
}

.keypoints li:before { 
  content: '✓';
  padding-right: 8px;
}