.projectsTopSection.right .keypoints {
  order: 1;
}
.projectsTopSection.right .techLogos {
  order: 3;
}
.projectsTopSection.left .keypoints {
  order: 3;
}
.projectsTopSection.left .techLogos {
  order: 1;
}

.techLogos {
  max-width: 400px;
}

.techLogos li {
  flex: 1 1 100px;
}

@media (max-width: 639px) {
  .techLogos li {
    flex: 1 1 60px;
  }
}

.keypoints li:before { 
  content: '✓';
  padding-right: 8px;
}






/* .techLogos {
  grid-template-columns: repeat(auto-fill, 96px);
}

@media (max-width: 640px) {
  .techLogos {
    grid-template-columns: repeat(2, max(36px, 1fr));
  }
} */

/* .techLogos img { */
  /* height: clamp(36px, calc(36px + 4vw), 96px);
  width: clamp(36px, calc(36px + 4vw), 96px); */
  /* height: 96px;
  width: 96px;
}

@media (max-width: 425px) {
  .techLogos img {
    height: 54px;
    width: 54px;
  }
} */