.projectsTopSection.right .keypoints {
  order: 1;
}
.projectsTopSection.right .techLogos {
  order: 3;
}
.projectsTopSection.left .keypoints {
  order: 3;
}
.projectsTopSection.left .techLogos {
  order: 1;
}

.techLogos {
  grid-template-columns: repeat(auto-fill, 96px);
  /* grid-auto-columns: minmax(36px, auto); */
}

@media (max-width: 640px) {
  .techLogos {
    grid-template-columns: repeat(2, max(36px, 1fr));
  }
}

.techLogos img {
  height: clamp(36px, calc(36px + 4vw), 96px);
  width: clamp(36px, calc(36px + 4vw), 96px);
}

.keypoints li:before { 
  content: '✓';
  padding-right: 8px;
}