@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  all:unset;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 500;
  --bg-gray: #1f2028;
}

#root {
  min-height: 100vh;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.themeToggleBtn {
  transition: 1s ease all;
  user-select: none;
}

.themeToggleBtn span {
  pointer-events: none;
}

.themeToggleBtn.dark {
  transform: rotate(210deg);
}

.themeToggleBtn.dark span {
 transform: scale(1.5);
 margin-left: 4px;
}

