@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 500; 
  margin: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

a:focus,a:visited,a:active, button:focus, button:active{
  outline: none;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

#root {
  min-width: 100%;
}

.themeToggleBtn {
  transition: 1s ease all;
  -webkit-user-select: none;
  user-select: none;

  &.dark {
    transform: rotate(210deg);
    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }

    span {
      transform: scale(1.5);
      margin-left: 4px;
    }
  }

  &.light {
    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  span {
    pointer-events: none;
  }
}

.main-container {
  display: grid;
  grid-template-rows: 60px 1fr 60px;
}

.testcolor {
  background-color: linear-gradient(to top, rgba(31,32,40,1) 0%, rgba(47,45,59,1) 20%) !important;
}


