@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 500; 
  margin: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
}

a:focus,a:visited,a:active, button:focus, button:active{
  outline: none;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

#root {
  min-width: 100%;
}

.themeToggleBtn {
  transition: 1s ease all;
  user-select: none;
}

.themeToggleBtn.light:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.themeToggleBtn.dark:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.themeToggleBtn span {
  pointer-events: none;
}

.themeToggleBtn.dark {
  transform: rotate(210deg);
}

.themeToggleBtn.dark span {
 transform: scale(1.5);
 margin-left: 4px;
}

.main-container {
  display: grid;
  grid-template-rows: 60px 1fr 60px;
}


